/*Layout fix Streamlit */
.block-container{
    padding-top:0.2rem;
}
/* Remove default margins and padding from hr */
hr {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navbar*/
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:14px 28px;
    margin: 60px auto 30px auto;
    background: linear-gradient(
    180deg,
    rgba(10,15,12,0.95) 0%,
    rgba(19,38,26,0.92) 55%,
    rgba(28,58,40,0.90) 100%
);
    border-radius:18px;
    backdrop-filter: blur(6px);
    box-shadow: 0 10px 20px rgba(0,0,0,.08);
    border:1px solid rgba(255,255,255,0.04);
}

/* Logo */
.logo{
    font-size: 28px;
    font-weight:700;
    color:#4ff48b !important;
    text-decoration:none !important;
}

/* Menu container */
.menu{
    display:flex;
    align-items:center;
    gap:42px;
    position:relative;
}

/* Menu item */
.menu a{
    color:#cbd5e1;
    text-decoration:none !important;
    font-size:16px;      
    font-weight:600;
    padding-bottom:10px;
    transition:.2s;
    position: relative;

}

/* Hover */
.menu a:hover{
    color:white;
}

/* Active tab */
.active{
   color:#22c55e !important;
    font-weight:800;
}

/* Active tab underline */
.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:100%;
    height:3px;
    background:#22c55e;
    border-radius:10px;
}


/* HERO SECTION*/
.hero {
    background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e");
    background-size: cover;
    background-position: center;
    padding: 60px;
    border-radius: 28px;
}
/* Overlay for better text visibility */
.hero-content {
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    border-radius: 22px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}
/* Hero text */
.hero-content h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 12px;
}
/* Hero subtext */
.hero-content p {
    color: #dddddd;
    font-size: 16px;
    font-weight: 500;
}

/* CARD (CLICKABLE) Homepage */
.card-link {
    text-decoration: none;
    color: inherit;
}
/* Card box */
.card-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 26px;
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.12);
    text-align: center;
    min-height: 260px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
/* Hover effect for card */
.card-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 22px 44px rgba(0, 0, 0, 0.18);
}
/* Card title */
.card-box h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
/* Card description */
.card-box p {
    color: #666666;
    font-size: 13px;
    margin-top: 10px;
}
/* MENU BUTTONS */
section div.stButton > button {
    all: unset;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: #222222;

    padding: 6px 0;
}

/* Hover effect cho menu */
section div.stButton > button:hover {
    color: #2e7d32;
    text-decoration: underline;
}

/* Active state */
section div.stButton > button:active {
    color: #2e7d32;
}

/* Focus state */
section div.stButton > button:focus {
    outline: none;
}
/* Ensure links inside cards don't have default styles */
.card-link,
.card-link h3,
.card-link p {
    text-decoration: none !important;
}
/* Hover effect for card links */
.card-link:hover h3 {
    color: #2e7d32;
}
/* Accordion container */
.chart-selector {
    background: #cdfccc;         
    padding: 28px 40px;
    border-radius: 32px;
    text-align: center;
   margin-bottom: 18px ;
    width: 100%;
    box-shadow: 0 14px 30px rgba(0,0,0,0.08);
    transition: all 0.25s ease;
}

.chart-selector p {
    font-size: 20px;
    font-weight: 500;
    color: #2f3640;
    margin: 0;
}

/* EXPANDER BOX */
div[data-testid="stExpander"] {
    background: #b5b5b5;
    border-radius: 26px;
    padding: 18px 25px;
    margin-bottom: 20px;
    border: none;
}

/* Remove default border */
div[data-testid="stExpander"] details {
    border: none;
}

/* Header layout */
div[data-testid="stExpander"] summary {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

/* Optional spacing text */
div[data-testid="stExpander"] summary span {
    margin-right: 10px;
}
/* Dashboard wide card */
.dashboard-wide {
    width: 100%;
    margin: 8px auto;
    padding: 20px 0;
    border-radius: 20px;

    background: #ffffff;

    box-shadow: 0 10px 30px rgba(46,125,50,0.3);
    min-height: 100px;
}

.dashboard-wide h3 {
    color: #2e7d32;
    font-weight: 700;
    align-items: center;
}

.dashboard-wide p {
    color: #555;
}

.dashboard-wide img {
    width: 130px;           
    margin-bottom: 4px;
    align-items: center;
}

/* DEPARTMENT AISLE PANEL*/
/*  PANEL LAYOUT */
[data-testid="stHorizontalBlock"] > div:first-child > div:has(.department-aisle-anchor){
    background:#4f624c;
    border-radius:18px;
    padding:26px 28px;
}

[data-testid="stHorizontalBlock"] > div:last-child > div:has(.bundle-anchor){
    background:#f5f5f2;
    border-radius:18px;
    padding:24px;
}

/* TITLES */
.department-aisle-title{
    font-size:22px;
    font-weight:600;
    text-align:center;
    margin-bottom:16px;
}

/* INPUTS */
.stTextInput input, .stSelectbox div[data-baseweb="select"]{
    background:#2b2f3a !important;
    color:white !important;
    border-radius:8px !important;
    font-size:16px !important;
}

/* BUTTONS ...........*/
button[kind="secondary"]{
    background:transparent !important;
    border:none !important;
    color:white !important;
    font-size:22px !important;
    letter-spacing:5px;
    padding: 0 !important;
    margin-top: 10px !important;
    box-shadow:none !important;
    padding:0 !important;
    display: block !important;
}

button[kind="secondary"]:hover{
    opacity:.6;
}


/* PRIMARY BUTTON (SUBMIT) */
button[kind="primary"]{
    width:100% !important;
    padding:12px 0 !important;

    background:#66a96b !important;
    color:white !important;
    font-size:18px !important;
    font-weight:700 !important;

    border-radius:18px !important;
    border:none !important;
    box-shadow:0 10px 22px rgba(0,0,0,.35) !important;
    text-decoration: none !important;
}
/* Hover effect for primary button */
button[kind="primary"]:hover{
    background:#7ec784 !important;
    transform:translateY(-2px);
}
/* DEPARTMENT & BUNDLE RECOMMENDATION*/
.bundle-title{
    color:#2dab62 !important;  
    font-size:22px;
     font-weight:600;
     margin-bottom:8px;
     text-align:center

}
.dept-bundle-title {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 15px 5px;
    color: #2E7D32;
}
/* BUNDLE ROW */
.bundle-row{
    display:flex;
    gap:22px;
    overflow-x:auto;
    padding:14px 6px 18px 6px;
    margin-bottom:18px;
    scroll-behavior:smooth;
}

/* Custom scrollbar for bundle row */
.bundle-row::-webkit-scrollbar{
    height:8px;
}
/* Track */
.bundle-row::-webkit-scrollbar-track{
    background:#2f2f36;
    border-radius:10px;
}
/* Thumb */
.bundle-row::-webkit-scrollbar-thumb{
    background:#2e7dff;
    border-radius:10px;
}
/* Bundle anchor */
.bundle-anchor{
    text-decoration:none !important;
    color:inherit !important;
}
/* Bundle card */
.bundle-card{
    min-width:100px;
    flex:0 0 auto;

    background:#e6d59a;
    color:#1f2937;

    padding:10px 8px;
    text-align:center;
    border-radius:8px;
    font-weight:600
    ;
    font-size:10px;
    transition:.2s;
}
/* Hover effect for bundle card */
.bundle-card:hover{
    transform:translateY(-2px);
    box-shadow:0 6px 14px rgba(0,0,0,.25);
}
/* Department card */
.bundle-dept{
    background:#25782a;
    color:white;
    box-shadow:0 6px 16px rgba(0,0,0,.25);
}

/* Best match badge */
.best-item{
    position:relative;
}

/* Best match badge styling */
.best-item::before{
    content:"⭐ Best Match";
    position:absolute;
    top:-12px;
    left:10px;

    background:#2e7dff;
    color:white;

    padding:3px 8px;
    font-size:11px;
    font-weight:700;
    border-radius:20px;

    box-shadow:0 4px 10px rgba(0,0,0,.25);
}
/* Style View More / Show Less buttons */
.view-more-btn [data-testid="stButton"] button:hover {
    background-color: #1e7e34 !important; 
    transform: scale(1.15);               
}
/* White background for top list*/
.top-wrapper-main {
    background-color: #f5f5f2;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    color: #333333; 
}
/* Title for top list */
.top-title-main {
    color: #2E7D32;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.top-subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}
/* Department header */
.dept-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
    text-align: left;
}
/* Product row layout */
.product-row {
    display: flex;
    flex-wrap: nowrap; 
    gap: 15px;        
    margin-top: 25px;
    margin-bottom: 20px;
}
/* Individual product card */
.card-unit {
    flex: 1;           
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
}
/* Badge for bestsellers */
.badge-bestseller {
    position: absolute;
    top: 0; 
    left: 15px;
   
    transform: translateY(-50%); 
    z-index: 99;

    background: #ffb347;
    color: white;
    padding: 3px 8px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    white-space: nowrap;
}
/* Empty badge for alignment */
.badge-empty {
    height: 18px; 
}
/*Dashboard title */
.dashboard-title {
    text-align: center;
    font-size: 30px !important;
    font-weight: 600;
    letter-spacing: 0.5px;
}