# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Conda
# =========================
.conda/
conda-meta/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/
.streamlit/secrets.toml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Model artifacts
# =========================
*.pkl
*.joblib
*.h5
